ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.google-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    margin-top: 50px;

}
#search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

#buscar {
    margin: 15px;
}

#suerte {
    margin: 15px;
}


li {
    display: inline;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
    font-size: 13px;
}

.footer1 {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    padding: 8px;
    background-color: #f2f2f2;
}